@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
	max-width: 1200px !important;
}

.testimonial_wrapper {
	background: #073341;
	padding: 80px 0;
}

.testimonial_wrapper .testimonial_head .testimonial_shape {
    background: #4a36fe;
    display: inline-flex;
    height: 30px;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.testimonial_wrapper .testimonial_head h2 {
    font-size: 50px;
    color: #ffffff;
    margin: 20px 0 40px 0;
}

.testimonial_wrapper .testimonial_item {
	  background: #add7e2;
	  border-radius: 10px;
	  overflow: hidden;
}

.testimonial_wrapper .testimonial_item figure {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
}

.testimonial_wrapper .testimonial_item figure img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    transition: 0.4s all ease-in-out;
}

.testimonial_wrapper .testimonial_item:hover figure img {
	  transform: scale(1.10);
}

.testimonial_wrapper .testimonial_item .testimonial_content {
    padding: 40px 20px;
}

.testimonial_wrapper .testimonial_item .star_icon i {
		color: #ffd322;
}

.testimonial_wrapper .testimonial_item h3 {
    font-size: 20px;
    padding: 25px 0;
    line-height: 28px;
}

.testimonial_wrapper .testimonial_item .man {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.testimonial_wrapper .testimonial_item h4 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 3px;
}

.testimonial_wrapper .testimonial_item p {
    margin: 0;
}